body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.container {
  width: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.container input,
button {
  margin: 10px 0;
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.seat {
  padding: 10px;
  background: #4caf50;
  color: white;
  text-align: center;
}

.seat.booked {
  background: red;
}

.ticket {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
